.combobox {

    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 70vw;
}

.combobox select {
    margin-top: 10px;
    font-size: 18px;
    width: 350px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #FFF;
    border-radius: 12px;
    background-size: cover;
    overflow: hidden;
    padding-left: 10px;
    box-sizing: border-box;
    color: #3E3E55;
}

.combobox label {
    color: #FFF;
    font-family: Poppins, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}