

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vw;
    padding: 20px;

}

.Options {
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.textHome, .textCreate, .textAccount  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

a {
    text-decoration: none;
}