.offer_tile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 400px;
    height: 150px;
    background-color: #2F2F42;
    border-radius: 12px;
    overflow: hidden;
    padding-right: 40px;
}

.offer_info {
    width : 270px;
    overflow: hidden;
}

.offer_name {
    color: #FFF;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offer_first_line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #FFF;
    font-family: Poppins, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offer_price {
    color: #3D5CFF;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer_date {
    color: #FF6905;
    font-family: Poppins, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offer_image {
    margin-left: 10px;
    margin-right: 5px;
    width: 120px;
    height: 120px;
    border-radius: 12px;
}

.delete_button {
    margin-top: 10px;
    padding: 0;
    border: none;
    font-family: Poppins, serif;
    color: #FFF;
    background-color: #3D5CFF;
    border-radius: 12px;
    background-size: cover;
    width: 100px;
    height: 20px;
    cursor: pointer;
}
